---
import ProjectCard from "./ProjectCard.astro"
---
<section id="projects" class="py-20 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-12 bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-600">
      Mis Proyectos
    </h2>
    {/* Single grid container for all cards */}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <ProjectCard 
        title="CofeeBooks"
        description="Proyecto escolar. Pagina web de una cafetería. Uitlizando BootsTrap para el diseño de la web."
        image="proyects/proyecto CoffeBooks.png"
        technologies={['HTML', 'CSS', 'JS', 'Bootstrap']}
        link="https://cofee-books.vercel.app/"
      />
      <ProjectCard 
        title="Barberia Nando's"
        description="Creación de una página Web para la barbería Nando's. pagina web en vanilla."
        image="/proyects/proyecto 3 Nandos.png"
        technologies={['HTML', 'CSS', 'JS', 'Bootstrap']}
        link="https://barberia-nandos.netlify.app/"
      />
      <ProjectCard 
        title="Veterinaria PetCare"
        description="Proyecto Escolar sobre el desarrollo web  sobre poder agendar citas en una veterinaria. Pgina web en vanilla."
        image="/proyects/proyecto 2 PetCare.png"
        technologies={['HTML', 'CSS', 'JS', 'Bootstrap']}
        link="https://veterinaria-sooty.vercel.app/"
      />
    </div>
  </div>
</section>